@import url('http://fonts.cdnfonts.com/css/dalek-pinpoint');
@import url('http://fonts.cdnfonts.com/css/romanica');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo {
    font-size: x-large;
}

.titulo,
.footer,
#navbarNavDropdown a {
    font-family: 'Dalek Pinpoint', sans-serif;
}

#mostracards {
    font-family: 'Romanica', sans-serif;
}

form {
    font-family: 'Romanica', sans-serif;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

form label {
    font-weight: bold;

}

legend {
    margin: 0 0 2rem 0;
}


#home {
    background-image: url("./A escola de Atenas Rafael.jpg");
    background-size: 100%;
    background-position: center;
    height: 1000px;    
}

.forms label {
    text-align: right;
}

.forms .row {
    margin-top: 1rem;
}

.alunos,
.professores,
.turmas,
.cursos,
.todos,
#formularios,
#mostraCards {
    display: none;
}

.active,
.options {
    font-weight: bold;
}

.options:hover {
    transform: scale(1.02);
}

.options {
    background-color: #515151;
    border: #fff 1px solid;
    border-radius: 8px;
    margin-left: 2px;

    margin-top: 3px;
    text-align: center;
}


#mostraCards {
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 5rem;
}


.deletar {
    z-index: 2;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.deletar:hover {
    transform: scale(1.05);
}

.card {
    background-color: black;
    color: white;
    margin: 1rem;
    width: 22%;
    padding: 1rem;
    box-shadow: #000 1px 2px 25px;
    border: #fff 1px solid;
}

.card::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(90deg, #fff1 0px, #fff1 1px, transparent 1px, transparent 10px),
        repeating-linear-gradient(0deg, #fff1 0px, #fff1 1px, transparent 1px, transparent 10px);
    background-size: 10px 10px;
    z-index: 1;
}


@media (max-height: 1000px) {
    #home {        
        height: 836px;
    }
}


@media only screen and (max-width: 1280px) {
    .card {
        width: 40%;
    }
}

@media only screen and (max-width: 767px) {

    #home {
        background-image: url("./A escola de Atenas Rafael Mobile.jpg");
        background-size: 650px;
        background-position: center;
        background-repeat: no-repeat;

    }

    .card {
        width: 90%;
    }
}

@media only screen and (max-width: 992px) {
    .options {
        margin-top: 3px;
        text-align: center;
    }

    .forms label {
        text-align: left;
    }
}